Clarification: What about "early 200"?

Is this draft intended to support a behavior where the origin server returns a 200 OK before it has received most of the request body?  This behavior is [the topic of some debate](https://github.com/whatwg/fetch/issues/1254#issuecomment-1650855412).

We're discussing "never" (store-and-forward) in https://github.com/httpwg/http-extensions/issues/3041, which effectively prevents request/response interleaving, and as such it eliminates the "early return" problem.

If we want to address this for "always" (incremental delivery), then we should also think about the more generic bidirectional streaming use case, but I'm not sure if it should be a part of the `Incremental` header or a separate draft.

@kazuho any thoughts?

A server is allowed to respond before the client completes sending the request ([RFC 9110 section 7.5](https://www.rfc-editor.org/rfc/rfc9110.html#name-response-correlation)).

Therefore, an intermediary implementing the Incremental HTTP extension will be required to forward "early 200" when all the following conditions are met:
* the request has "Incremental: ?1"
* the server sends an early response
* the response has "Incremental: ?1".

This would be the case for Chunked OHTTP.

(rewrote the answer to match what I think the question is asking)

OK, thanks @kazuho.  Maybe we can make that clearer in the text.

Agreed. Filed the issue on the WG repository.