Thank you for raising the point.

I do not understand the security aspects of OHTTP and I could be wrong, but could you clarify why it is preferable to have a network signal rather than relying on local decision (i.e., server itself can wait for the entire request, then send the entire response at once)?

Incremental being broader than OHTTP, there could be other use cases that require buffering down the line.

For your question on OHTTP specifically, my understanding is as follow:

OHTTP [initial figure](https://www.rfc-editor.org/rfc/rfc9458#section-2-4.1.1) highlights the relay sends the request to the gateway, and waits for its response before replying to the client.
[RFC 9458 Section 6.2.3](https://www.rfc-editor.org/rfc/rfc9458#name-traffic-analysis) discusses how an attacker can do traffic analysis. One mitigation is for Relay to add delay.

For chunked OHTTP, this would also include buffering client request/gateway response. By buffering the entire request before sending the entire response, the relay prevents an attacker from being able to fingerprint a client by granularily sending packets (time, size, others).
This interactivity privacy consideration is highlighted in the [draft for chunked OHTTP](
https://datatracker.ietf.org/doc/html/draft-ietf-ohai-chunked-ohttp-02#name-interactivity-and-privacy).
